<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Complaints</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
	<nav class="navbar">
        <a href="/student/student" class="navbar-link">Dashboard</a>
        
        <div class="profile-dropdown">
            <input type="checkbox" id="profile-toggle" class="profile-toggle">
        
            <label for="profile-toggle" class="profile-link">
            	<img th:src="@{${profileImageUrl}}" alt="Profile Icon" class="profile-icon"/>
            </label>
        
            <div class="dropdown-content">
                <a href="/student_profile">My Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h2>All Complaints</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Enrollment Number</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Complaint Type</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="complaint : ${complaints}">
                    <td th:text="${complaint.enrollmentNumber}"></td>
                    <td th:text="${complaint.name}"></td>
                    <td th:text="${complaint.department}"></td>
                    <td th:text="${complaint.complaintType}"></td>
                    <td th:text="${complaint.description}"></td>
                    <td th:text="${complaint.status}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
